<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b552505-3d80-484f-9316-3c4a9dbdc392" Alias="About - Description - Rich Text Editor" Level="1">
  <Info>
    <Name>About - Description - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>