<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae54e853-c032-42e2-9ab4-daf7d38e7159" Alias="asdf" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/asdf</Path>
    <Trashed Parent="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">true</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T18:05:30</CreateDate>
    <NodeName Default="asdf" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[sala]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-10-12T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[sala]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>