<?xml version="1.0" encoding="utf-8"?>
<Content Key="6075eb17-7d57-4fbc-ab15-745512cae421" Alias="coolaste spelning" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/coolasteSpelning</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-10-31T13:37:34</CreateDate>
    <NodeName Default="coolaste spelning" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[adolfbergsvägen 31]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-15T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>Coola spelningen</p>]]></Value>
    </description>
    <title>
      <Value><![CDATA[cool gig]]></Value>
    </title>
  </Properties>
</Content>