<?xml version="1.0" encoding="utf-8"?>
<Content Key="e44301bc-4667-482f-9670-29782ed541f2" Alias="Danshallen Belganet (1)" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/DanshallenBelganet1</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:16:09</CreateDate>
    <NodeName Default="Danshallen Belganet (1)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Danshallen Belganet]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2024-01-05T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Belganet]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>