<?xml version="1.0" encoding="utf-8"?>
<Content Key="4656eb4c-4848-4ead-b319-f0cf970f264f" Alias="Danshallen Belganet" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/DanshallenBelganet</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T14:04:12</CreateDate>
    <NodeName Default="Danshallen Belganet" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Danshallen Belganet]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-10T19:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>asdsdasd</p>]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Belganet]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[123]]></Value>
    </gigPrice>
  </Properties>
</Content>