<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b592cbb-dece-4de0-afce-f1b2a7a52d3b" Alias="Error Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ErrorPage</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage404</ContentType>
    <CreateDate>2023-11-07T16:11:36</CreateDate>
    <NodeName Default="Error Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b00a060c-373f-404b-8ad0-a6c437498e04">ErrorPage404</Template>
  </Info>
  <Properties />
</Content>