<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d88a514-9a50-43ca-8970-78662730b6a6" Alias="Folkets park Herrljunga" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/FolketsParkHerrljunga</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:10:51</CreateDate>
    <NodeName Default="Folkets park Herrljunga" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Folkets park Herrljunga]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-26T18:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[herrljunga]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>