<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f698f8f-efb2-4b7d-88d9-c1b55c0ad588" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-10-25T12:37:01</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c2f6365-8999-4441-9a8e-f52c707ff2b4">Home</Template>
  </Info>
  <Properties>
    <altImage>
      <Value><![CDATA[logga]]></Value>
    </altImage>
    <companyName>
      <Value><![CDATA[Matz Bladhs]]></Value>
    </companyName>
    <eMail>
      <Value><![CDATA[Matz@DansBand.se]]></Value>
    </eMail>
    <headerBackground>
      <Value><![CDATA[[
  {
    "key": "8fae33a0-1a86-4c47-8d5a-3067edab9b7e",
    "mediaKey": "a395b533-22e8-4c45-a96b-cd357ecba8f7"
  }
]]]></Value>
    </headerBackground>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "ba00bbb1-639a-467c-9326-c1986c476d60",
    "mediaKey": "71200d3f-f80b-4c04-a5f8-55d056a78c9d"
  }
]]]></Value>
    </headerImage>
    <headerTitle>
      <Value><![CDATA[Matz Bladhs]]></Value>
    </headerTitle>
    <metaDescription>
      <Value><![CDATA[matz bladh dansband]]></Value>
    </metaDescription>
    <phoneNumber>
      <Value><![CDATA[013-456789]]></Value>
    </phoneNumber>
    <socials>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "x-twitter",
    "name": "X (formerly Twitter)",
    "url": "https://twitter.com/"
  }
]]]></Value>
    </socials>
  </Properties>
</Content>