<?xml version="1.0" encoding="utf-8"?>
<Content Key="e39f6b7d-75f1-4737-82fe-db158f118e59" Alias="Janne" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/Janne</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-02T23:14:54</CreateDate>
    <NodeName Default="Janne" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <dateOfBirth>
      <Value><![CDATA[1923-11-01T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[2 barn]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Sirap]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Kyckling gryta]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Moraträsk]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Trummor"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Pilla navelludd]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Janne]]></Value>
    </personName>
    <place>
      <Value><![CDATA[JHuw]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "ad58387b-6620-425a-b1d4-38a0aa3a405d",
    "mediaKey": "b0a4cc1a-6ec1-45e0-9781-bc328d65e9f3"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>