<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a499d6d-435a-4663-8470-3b458940301f" Alias="Karl Niclas Olén" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/KarlNiclasOlen</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-10T13:51:23</CreateDate>
    <NodeName Default="Karl Niclas Olén" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <altPortrait>
      <Value><![CDATA[Karl Niclas Olén]]></Value>
    </altPortrait>
    <dateOfBirth>
      <Value><![CDATA[1965-01-01T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[Ja, sambo 2 barn, 3 hundar och en häst]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Vatten, Öl, Vin och Kaffe]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Stekt fläsk, Löksås och för mycket godis]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Flamingovintetten]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Elorgel"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Snickra, hålla på med sten]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Karl Niclas Olén]]></Value>
    </personName>
    <place>
      <Value><![CDATA[Halland]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "1d0e068c-68a9-4f81-9c0f-005cbe50f573",
    "mediaKey": "4952ba23-f196-4f9d-8162-89e37a574bcf"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>