<?xml version="1.0" encoding="utf-8"?>
<Content Key="4474fe0c-6aba-4c5b-89f2-158be51f484f" Alias="Kontakt Norge (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/KontaktNorge1</Path>
    <Trashed Parent="00052586-8c65-4dc7-8789-59accfbd9660">true</Trashed>
    <ContentType>contactInformation</ContentType>
    <CreateDate>2023-11-03T12:32:14</CreateDate>
    <NodeName Default="Kontakt Norge (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8a3771b-f732-4d3c-a83a-b6fbb868d1d0">ContactInformation</Template>
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[huseba@online.no]]></Value>
    </contactEmail>
    <contactImage>
      <Value><![CDATA[[]]]></Value>
    </contactImage>
    <contactName>
      <Value><![CDATA[Jan Husebæk]]></Value>
    </contactName>
    <contactNumber>
      <Value><![CDATA[+4790551087]]></Value>
    </contactNumber>
  </Properties>
</Content>