<?xml version="1.0" encoding="utf-8"?>
<Content Key="00052586-8c65-4dc7-8789-59accfbd9660" Alias="Kontakta oss" Level="2">
  <Info>
    <Parent Key="9f698f8f-efb2-4b7d-88d9-c1b55c0ad588">Startsida</Parent>
    <Path>/Startsida/KontaktaOss</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-10-26T12:45:00</CreateDate>
    <NodeName Default="Kontakta oss" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0809a190-b1ac-4504-8122-dae163501625">ContactUs</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[<p> </p>
<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="63b2c59e-4316-4c92-9c2d-8924aa062ecc" FormTheme="default" ExcludeScripts="0" />
<p> </p>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>
<div class="pika-single is-hidden is-bound" style="position: static; left: auto; top: auto;"></div>]]></Value>
    </contactForm>
    <contactTitle>
      <Value><![CDATA[Kontakta oss genom att fylla i formuläret]]></Value>
    </contactTitle>
  </Properties>
</Content>