<?xml version="1.0" encoding="utf-8"?>
<Content Key="2586dc45-5ba8-4d4c-942c-b1cb20333bb7" Alias="Lasse" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/Lasse</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-02T23:14:43</CreateDate>
    <NodeName Default="Lasse" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <dateOfBirth>
      <Value><![CDATA[1972-11-02T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[dfdf]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Avloppsvatten]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Bönor]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Df3e]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Fiol"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Bilar]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Lasse]]></Value>
    </personName>
    <place>
      <Value><![CDATA[dfdf]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "1b56a156-01b9-4a88-8f27-6dd3f30ba683",
    "mediaKey": "b0a4cc1a-6ec1-45e0-9781-bc328d65e9f3"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>