<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ad50966-f6ba-4d6f-a7cf-6f9231a42557" Alias="Lönsboda Folkets Park" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/LoensbodaFolketsPark</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:07:26</CreateDate>
    <NodeName Default="Lönsboda Folkets Park" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Lönsboda Folkets Park]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-19T17:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Lönsboda]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[123]]></Value>
    </gigPrice>
  </Properties>
</Content>