<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9b7a261-fc69-406c-aa11-485cb2e8b1e6" Alias="Mats Kärrlid" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/MatsKaerrlid</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-10T13:46:52</CreateDate>
    <NodeName Default="Mats Kärrlid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <altPortrait>
      <Value><![CDATA[Mats Kärrlid]]></Value>
    </altPortrait>
    <dateOfBirth>
      <Value><![CDATA[1961-04-27T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[Gift]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Vatten, Öl, Gärna en god rom]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Allt]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Eagles, Flamingokvintetten]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Trummor"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Bilar]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Mats Kärrlid]]></Value>
    </personName>
    <place>
      <Value><![CDATA[I Skåne]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "3fe228ac-26b0-4194-8ef4-9d0df1f6a782",
    "mediaKey": "2abbc4c5-79f2-4f45-88a1-6943e593b241"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>