<?xml version="1.0" encoding="utf-8"?>
<Content Key="3358450e-872c-467b-9f0e-cecddbf6952c" Alias="Medborgarhuset" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/Medborgarhuset</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:12:46</CreateDate>
    <NodeName Default="Medborgarhuset" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Medborgarhuset Alvik]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-12-08T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Alvik]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>