<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce35213a-fdd6-4ee1-9657-02245b02ff5e" Alias="Nöjeskällan" Level="3">
  <Info>
    <Parent Key="00052586-8c65-4dc7-8789-59accfbd9660">Kontakta oss</Parent>
    <Path>/Startsida/KontaktaOss/Noejeskaellan</Path>
    <Trashed>false</Trashed>
    <ContentType>contactInformation</ContentType>
    <CreateDate>2023-11-03T12:48:40</CreateDate>
    <NodeName Default="Nöjeskällan" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8a3771b-f732-4d3c-a83a-b6fbb868d1d0">ContactInformation</Template>
  </Info>
  <Properties>
    <altContactImage>
      <Value><![CDATA[Nöjeskällan]]></Value>
    </altContactImage>
    <contactEmail>
      <Value><![CDATA[mats@nojeskallan.se]]></Value>
    </contactEmail>
    <contactHomepage>
      <Value><![CDATA[https://www.nojeskallan.se]]></Value>
    </contactHomepage>
    <contactImage>
      <Value><![CDATA[[
  {
    "key": "3e2d8efe-04df-414f-a006-c025526fc1ff",
    "mediaKey": "50290449-2642-47eb-ae35-21909698ff89"
  }
]]]></Value>
    </contactImage>
    <contactName>
      <Value><![CDATA[Mats Tigerström 🇸🇪]]></Value>
    </contactName>
    <contactNumber>
      <Value><![CDATA[+46 (0)470 728700]]></Value>
    </contactNumber>
  </Properties>
</Content>