<?xml version="1.0" encoding="utf-8"?>
<Content Key="d385ea77-7937-4cd0-867c-41c04f68244a" Alias="Norrköping" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/Norrkoeping</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-10-31T14:00:47</CreateDate>
    <NodeName Default="Norrköping" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[norrköping]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-20T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>f33f</p>]]></Value>
    </description>
    <gigPrice>
      <Value><![CDATA[456]]></Value>
    </gigPrice>
    <title>
      <Value><![CDATA[ddd]]></Value>
    </title>
  </Properties>
</Content>