<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8e760d0-5ad4-4627-b386-ef2aace59e6e" Alias="Nyhet 1" Level="3">
  <Info>
    <Parent Key="705b6e51-061f-47d1-a345-40e5d8d5b79f">Nyheter</Parent>
    <Path>/Home/Nyheter/Nyhet1</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-25T15:53:57</CreateDate>
    <NodeName Default="Nyhet 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618bf9e8-0792-44a3-a1f7-a332fa732bac">NewsItem</Template>
  </Info>
  <Properties>
    <newsContent>
      <Value><![CDATA[<p>Ut rhoncus rhoncus ex et ullamcorper. Nam at felis congue, efficitur neque et, faucibus ipsum. Nullam mattis faucibus arcu, et vulputate metus imperdiet id. Sed non convallis mauris, non convallis tellus. Suspendisse semper nec ligula id efficitur. Integer vehicula luctus lacinia. Ut vel arcu eleifend turpis consequat condimentum. Sed tellus eros, accumsan ac est egestas, fringilla vehicula eros. Morbi vulputate tempus justo, sit amet dignissim ex consequat at. Praesent eget eros condimentum, sagittis turpis porta, rutrum libero. Morbi consequat pretium arcu, ac malesuada ligula tincidunt ac. Suspendisse sit amet lorem non nibh cursus eleifend. Pellentesque aliquet condimentum accumsan. Sed ultricies nisi at nisi vestibulum, vel maximus sapien mattis. </p>]]></Value>
    </newsContent>
    <newsTitle>
      <Value><![CDATA[Nyhet 1]]></Value>
    </newsTitle>
  </Properties>
</Content>