<?xml version="1.0" encoding="utf-8"?>
<Content Key="509b38a2-f4e0-47c9-9650-27e2b4516534" Alias="Nyhet 3" Level="3">
  <Info>
    <Parent Key="705b6e51-061f-47d1-a345-40e5d8d5b79f">Nyheter</Parent>
    <Path>/Home/Nyheter/Nyhet3</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-25T16:17:28</CreateDate>
    <NodeName Default="Nyhet 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618bf9e8-0792-44a3-a1f7-a332fa732bac">NewsItem</Template>
  </Info>
  <Properties>
    <newsContent>
      <Value><![CDATA[<p>Nam euismod volutpat augue ac dignissim. Nulla consequat elit vulputate neque eleifend efficitur ut id dui. Donec non velit lorem. Nunc euismod porttitor molestie. Aliquam id ante nisl. Fusce tincidunt leo eget eros vehicula luctus. Sed id justo pulvinar, tincidunt nisi et, pharetra nibh. Donec tincidunt tellus diam, ac luctus mi rutrum eget. Morbi a ultrices ante. Aliquam in gravida magna. Duis suscipit ligula erat, at auctor diam interdum eu. Curabitur at maximus neque. Integer vitae justo ac eros tristique scelerisque. Morbi laoreet vitae nisl sed rutrum. Nunc et urna efficitur neque pretium vehicula sed eget elit. </p>]]></Value>
    </newsContent>
    <newsTitle>
      <Value><![CDATA[Nyhet 3]]></Value>
    </newsTitle>
  </Properties>
</Content>