<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e6c31e1-0a24-44ea-9da2-9e783ff7f40e" Alias="Nyhet 2" Level="3">
  <Info>
    <Parent Key="705b6e51-061f-47d1-a345-40e5d8d5b79f">Nyheter</Parent>
    <Path>/Home/Nyheter/Nyhet2</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-25T15:54:12</CreateDate>
    <NodeName Default="Nyhet 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618bf9e8-0792-44a3-a1f7-a332fa732bac">NewsItem</Template>
  </Info>
  <Properties>
    <newsContent>
      <Value><![CDATA[<p>Suspendisse potenti. Suspendisse arcu enim, laoreet id velit eu, rhoncus sodales ipsum. Donec ligula ligula, porttitor at sagittis euismod, placerat quis justo. Phasellus scelerisque eu sem sed blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus a mattis nisl. Duis diam velit, aliquam vitae ante in, posuere convallis massa. Morbi vel varius libero, eu porttitor eros. Nulla vel molestie diam. Praesent hendrerit tortor ac augue imperdiet, vel condimentum tortor fringilla. Aliquam quis eros vel ante mattis faucibus. Praesent ornare nunc massa. Fusce ac eros lorem. Morbi vitae gravida ante, non accumsan ex. Maecenas molestie tincidunt orci id molestie. Proin dapibus elementum lectus. </p>]]></Value>
    </newsContent>
    <newsTitle>
      <Value><![CDATA[Nyhet 2]]></Value>
    </newsTitle>
  </Properties>
</Content>