<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f44c0d5-93ad-401b-b1a1-9b021230c820" Alias="Nyheter 4" Level="3">
  <Info>
    <Parent Key="705b6e51-061f-47d1-a345-40e5d8d5b79f">Nyheter</Parent>
    <Path>/Home/Nyheter/Nyheter4</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-10-26T16:22:27</CreateDate>
    <NodeName Default="Nyheter 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618bf9e8-0792-44a3-a1f7-a332fa732bac">NewsItem</Template>
  </Info>
  <Properties>
    <newsContent>
      <Value><![CDATA[<p>Maecenas justo nulla, rutrum condimentum elit et, porta auctor turpis. Duis sem mauris, sollicitudin sit amet faucibus eu, faucibus ac lorem. Fusce vitae arcu tellus. Aenean nec porta purus. Nam suscipit nulla eget tortor accumsan hendrerit. Nullam nec lacus ante. Donec et accumsan justo, vel fringilla enim. Aliquam sollicitudin vitae lorem sed maximus. Morbi sollicitudin, purus quis tincidunt accumsan, dolor ex posuere risus, sed elementum felis neque et est. Ut sem nisi, efficitur at suscipit quis, tempus sit amet justo. Duis enim mi, commodo a elit in, dictum porta velit. Sed eu sapien a dui dapibus placerat vel at turpis. Duis consectetur ex enim, eu suscipit nulla laoreet quis. Fusce finibus tempus eros ut vehicula. Morbi eu eleifend tortor!</p>]]></Value>
    </newsContent>
    <newsTitle>
      <Value><![CDATA[Nyheter 4]]></Value>
    </newsTitle>
  </Properties>
</Content>