<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8761fb5-28d4-40b3-9077-d89ee4e3f5bf" Alias="Olle" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/Olle</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-10-25T17:51:13</CreateDate>
    <NodeName Default="Olle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <altPortrait>
      <Value><![CDATA[Kontakt bild]]></Value>
    </altPortrait>
    <dateOfBirth>
      <Value><![CDATA[1948-08-18T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Öl]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Haggis]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Sabaton]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Sax",
  "Gittar"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Dart]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Olle]]></Value>
    </personName>
    <place>
      <Value><![CDATA[Valla]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "7c55d1db-8c4d-4d77-b402-c8c7550cf789",
    "mediaKey": "b0a4cc1a-6ec1-45e0-9781-bc328d65e9f3"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>