<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8761fb5-28d4-40b3-9077-d89ee4e3f5bf" Alias="Olle" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Home/OmOss/Olle</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-10-25T17:51:13</CreateDate>
    <NodeName Default="Olle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <dateOfBirth>
      <Value><![CDATA[1957-08-14T00:00:00]]></Value>
    </dateOfBirth>
    <favDrink>
      <Value><![CDATA[]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Sax",
  "Gittar"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Olle]]></Value>
    </personName>
    <place>
      <Value><![CDATA[]]></Value>
    </place>
  </Properties>
</Content>