<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc1a8da4-673b-45c9-88a8-bdb752e149be" Alias="Om Oss" Level="2">
  <Info>
    <Parent Key="9f698f8f-efb2-4b7d-88d9-c1b55c0ad588">Startsida</Parent>
    <Path>/Startsida/OmOss</Path>
    <Trashed>false</Trashed>
    <ContentType>about</ContentType>
    <CreateDate>2023-10-25T17:50:12</CreateDate>
    <NodeName Default="Om Oss" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3376200-434f-48e4-9c4e-0df070daa352">About</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p>Matz Blahds är ett dansband.</p>]]></Value>
    </description>
  </Properties>
</Content>