<?xml version="1.0" encoding="utf-8"?>
<Content Key="acecf8bb-0a7d-468d-bf9d-60111eb42c31" Alias="Pelle" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/Pelle</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-10-26T11:40:14</CreateDate>
    <NodeName Default="Pelle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <dateOfBirth>
      <Value><![CDATA[1966-10-12T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[Sdfg]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Vatten]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[Pizza]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Lordi]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Piano"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Tennis]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Pelle Karlsson]]></Value>
    </personName>
    <place>
      <Value><![CDATA[Asdf]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "f1909afb-3817-4be4-a272-450d759eca06",
    "mediaKey": "b0a4cc1a-6ec1-45e0-9781-bc328d65e9f3"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>