<?xml version="1.0" encoding="utf-8"?>
<Content Key="476e6d07-42ac-4732-ad8d-3db87739062e" Alias="Sala" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/Sala</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-08T23:57:26</CreateDate>
    <NodeName Default="Sala" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Sala]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2024-01-01T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>aaa</p>]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Sala]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[233]]></Value>
    </gigPrice>
    <title>
      <Value><![CDATA[ssdff]]></Value>
    </title>
  </Properties>
</Content>