<?xml version="1.0" encoding="utf-8"?>
<Content Key="b314c0d8-ecdc-44f9-bdbd-3f041c162eee" Alias="sdfadsf" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/sdfadsf</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-08T11:11:59</CreateDate>
    <NodeName Default="sdfadsf" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[falun]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-24T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>fdfdfdf</p>]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[storgatan 12]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[333]]></Value>
    </gigPrice>
    <title>
      <Value><![CDATA[asdfadsf]]></Value>
    </title>
  </Properties>
</Content>