<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6" Alias="Spelningar" Level="2">
  <Info>
    <Parent Key="9f698f8f-efb2-4b7d-88d9-c1b55c0ad588">Home</Parent>
    <Path>/Home/Spelningar</Path>
    <Trashed>false</Trashed>
    <ContentType>gigs</ContentType>
    <CreateDate>2023-10-31T12:29:29</CreateDate>
    <NodeName Default="Spelningar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3ec2509c-363d-411c-8f1e-bf2b4ea5d11f">Gigs</Template>
  </Info>
  <Properties />
</Content>