<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e1d19c1-0810-44b4-8ad1-7d19d9ea589c" Alias="TestSpelning" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/TestSpelning</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-02T15:46:56</CreateDate>
    <NodeName Default="TestSpelning" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[adolfsbergsvägen 10]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-08T23:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>supercool</p>]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[norrköping]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[147]]></Value>
    </gigPrice>
    <title>
      <Value><![CDATA[TestSpelning]]></Value>
    </title>
  </Properties>
</Content>