<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f2713f4-491f-4665-8e51-dc57b7414c42" Alias="Tom Käldström" Level="3">
  <Info>
    <Parent Key="dc1a8da4-673b-45c9-88a8-bdb752e149be">Om Oss</Parent>
    <Path>/Startsida/OmOss/TomKaeldstroem</Path>
    <Trashed>false</Trashed>
    <ContentType>person</ContentType>
    <CreateDate>2023-11-10T13:53:06</CreateDate>
    <NodeName Default="Tom Käldström" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0313ab7-fffd-4cb0-ae9a-06199ba46560">Person</Template>
  </Info>
  <Properties>
    <altPortrait>
      <Value><![CDATA[Tom Käldström]]></Value>
    </altPortrait>
    <dateOfBirth>
      <Value><![CDATA[1976-08-22T00:00:00]]></Value>
    </dateOfBirth>
    <family>
      <Value><![CDATA[Fru, 3 barn och 2 bonusbarn]]></Value>
    </family>
    <favDrink>
      <Value><![CDATA[Ja]]></Value>
    </favDrink>
    <favFood>
      <Value><![CDATA[För mycket och för ofta]]></Value>
    </favFood>
    <favMusic>
      <Value><![CDATA[Stefan Borsch, Iron Maiden, Brad Paisley]]></Value>
    </favMusic>
    <instruments>
      <Value><![CDATA[[
  "Gitarr",
  "Saxofon"
]]]></Value>
    </instruments>
    <interests>
      <Value><![CDATA[Matlagning, Resor och Musiktekniska saker]]></Value>
    </interests>
    <personName>
      <Value><![CDATA[Tom Käldström]]></Value>
    </personName>
    <place>
      <Value><![CDATA[Salo, Finland]]></Value>
    </place>
    <portrait>
      <Value><![CDATA[[
  {
    "key": "f1281fb5-26b1-4ba5-830c-cfda2eb1b23e",
    "mediaKey": "c69e0d07-3248-4d66-ab8c-290afc90c8f8"
  }
]]]></Value>
    </portrait>
  </Properties>
</Content>