<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bdbbdbe-934a-461b-bcfe-078c0bafa110" Alias="ttesssss" Level="3">
  <Info>
    <Parent Key="705b6e51-061f-47d1-a345-40e5d8d5b79f">Nyheter</Parent>
    <Path>/Startsida/Nyheter/ttesssss</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItem</ContentType>
    <CreateDate>2023-11-08T11:06:07</CreateDate>
    <NodeName Default="ttesssss" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="618bf9e8-0792-44a3-a1f7-a332fa732bac">NewsItem</Template>
  </Info>
  <Properties>
    <newsContent>
      <Value><![CDATA[<p>sdfsdfsdfsdf</p>]]></Value>
    </newsContent>
    <newsTitle>
      <Value><![CDATA[test]]></Value>
    </newsTitle>
  </Properties>
</Content>