<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e845323-37ef-4f20-9160-c10b69a638c6" Alias="TUC" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Home/Spelningar/TUC</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-10-31T12:31:00</CreateDate>
    <NodeName Default="TUC" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[TUC Linköping]]></Value>
    </address>
    <description>
      <Value><![CDATA[<p>QKUEGFDKEFWUDOAUEWGFQIWGFIGWEIDGQWOEIGDIQWUGDIEGQWDIGQWIDGQWEIDGQLWEGDIQEWGD</p>]]></Value>
    </description>
    <title>
      <Value><![CDATA[Test]]></Value>
    </title>
  </Properties>
</Content>