<?xml version="1.0" encoding="utf-8"?>
<Content Key="76ea69f6-3b86-41af-8c8f-e6198039ad34" Alias="Uppsala julbord" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/UppsalaJulbord</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-07T22:07:57</CreateDate>
    <NodeName Default="Uppsala julbord" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[uppsala]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-12-20T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[<p>julbord</p>]]></Value>
    </description>
    <title>
      <Value><![CDATA[woho]]></Value>
    </title>
  </Properties>
</Content>