<?xml version="1.0" encoding="utf-8"?>
<Content Key="2177b102-49d6-4cfb-8eb7-3ffe746df2a9" Alias="Vadstena" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/Vadstena</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-09T01:51:43</CreateDate>
    <NodeName Default="Vadstena" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Vadstena slott]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2024-05-22T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Vadstena]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[343]]></Value>
    </gigPrice>
    <title>
      <Value><![CDATA[Vadstena Slott]]></Value>
    </title>
  </Properties>
</Content>