<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdf43693-71eb-46e6-911e-0d0103eb47c2" Alias="Vemdalsskalet" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/Vemdalsskalet</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:09:22</CreateDate>
    <NodeName Default="Vemdalsskalet" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Vemdalen, Vemdalsskalet]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-11-23T21:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Vemdalen]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>