<?xml version="1.0" encoding="utf-8"?>
<Content Key="419c7203-2b44-4f82-be31-2fa18526097b" Alias="Viking Cinderella, M/S Cinderella Gästband" Level="3">
  <Info>
    <Parent Key="1e74e3be-51d6-4f3d-a016-990eeb9dc2a6">Spelningar</Parent>
    <Path>/Startsida/Spelningar/VikingCinderellaMSCinderellaGaestband</Path>
    <Trashed>false</Trashed>
    <ContentType>gigInfo</ContentType>
    <CreateDate>2023-11-10T16:13:44</CreateDate>
    <NodeName Default="Viking Cinderella, M/S Cinderella Gästband" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Stockholm, Stadsgården]]></Value>
    </address>
    <datum>
      <Value><![CDATA[2023-12-17T12:00:00]]></Value>
    </datum>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <gigCity>
      <Value><![CDATA[Viking Cinderella, M/S Cinderella Gästband]]></Value>
    </gigCity>
    <gigPrice>
      <Value><![CDATA[]]></Value>
    </gigPrice>
  </Properties>
</Content>