<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc3bd977-d6dd-4df2-a465-03460b26c690" Alias="about" Level="2">
  <Info>
    <Name>About</Name>
    <Icon>icon-people color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d3376200-434f-48e4-9c4e-0df070daa352">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="139dd929-1393-4995-9be1-d65528faf233" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>46e2969d-64f4-4022-89f9-12b21c088613</Key>
      <Name>Band Info</Name>
      <Alias>description</Alias>
      <Definition>8b552505-3d80-484f-9316-3c4a9dbdc392</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="info">Info</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0fbb5239-2dec-4265-98f6-a1afec136c3f</Key>
      <Caption>Info</Caption>
      <Alias>info</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>