<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f964c517-23c8-4b65-8a2d-143dfe1b8ea0" Alias="contactInformation" Level="2">
  <Info>
    <Name>Contact Information</Name>
    <Icon>icon-phone-ring color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ContactInformation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8a3771b-f732-4d3c-a83a-b6fbb868d1d0">ContactInformation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0debc8a6-92f3-4e0e-88c6-1aed2e732770</Key>
      <Name>Kontakt E-post</Name>
      <Alias>contactEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="bookingAgent">Booking Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Fyll i E-post</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1025b7e-adaf-4aeb-a0f7-c817ed4d9746</Key>
      <Name>Kontakt bild</Name>
      <Alias>contactImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bookingAgent">Booking Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbe6851e-2adb-4118-b44d-2ffc3cb1cabe</Key>
      <Name>Kontakt namn</Name>
      <Alias>contactName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bookingAgent">Booking Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Fyll i namn</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4af723d0-d843-40c3-aef6-985c4161e180</Key>
      <Name>Kontakt nummer</Name>
      <Alias>contactNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bookingAgent">Booking Agent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Fyll i telefonnummer</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f227b733-8eae-4520-b6be-2c519e819397</Key>
      <Caption>Booking Agent</Caption>
      <Alias>bookingAgent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>