<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="87d45911-bfeb-41a5-bda8-d8bf5aa2bc7f" Alias="errorPage404" Level="2">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-application-error color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>ErrorPage404</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b00a060c-373f-404b-8ad0-a6c437498e04">ErrorPage404</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>