<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab8d2e70-2598-4086-afbf-f11f429344cc" Alias="gigInfo" Level="2">
  <Info>
    <Name>Gig Info</Name>
    <Icon>icon-map-alt color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>GigInfo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2c4f1d29-10cd-4dea-9bca-b9cbd5f1fc1d">GigInfo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>58b4ea12-2fbf-4b6b-a4f8-4bf3a2faa39b</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gigInfo/map">Map</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7a815ba-e5c1-41d4-a6be-7cb158d5a1fa</Key>
      <Name>Datum</Name>
      <Alias>datum</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[lägg in datum och tid för spelningen]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="gigInfo/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Lägg till datum och tid för spelning</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87a7f81c-b154-4b78-9d03-8e65a3efafa1</Key>
      <Name>Spelnings info</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gigInfo/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bc2db022-4ae1-425c-a3ec-3c00e3dbe7d0</Key>
      <Name>Rubrik</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gigInfo/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f13ceff-a62e-48dc-b32c-7aed7cb1c153</Key>
      <Caption>Map</Caption>
      <Alias>gigInfo/map</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4d05388f-46a7-4a8a-a474-0f4856643536</Key>
      <Caption>Gig Info</Caption>
      <Alias>gigInfo</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b5765168-519f-4a41-aa9b-d460c74dcf3e</Key>
      <Caption>Content</Caption>
      <Alias>gigInfo/content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>