<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4badff71-9fb4-4714-928f-b45c3860a1b8" Alias="gigs" Level="2">
  <Info>
    <Name>Gigs</Name>
    <Icon>icon-single-note color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>Gigs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3ec2509c-363d-411c-8f1e-bf2b4ea5d11f">Gigs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ab8d2e70-2598-4086-afbf-f11f429344cc" SortOrder="0">gigInfo</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>