<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4270610c-5e2e-472f-be98-a8e584256836" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="35620ffe-14a9-43a0-8221-2f364d05de35">footer</Composition>
      <Composition Key="bb16bfb6-7303-4cd6-a442-043f4a9badb1">header</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c2f6365-8999-4441-9a8e-f52c707ff2b4">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cb95259d-377f-4a24-b8f9-d0065677d160" SortOrder="0">newsBinder</ContentType>
    <ContentType Key="bc3bd977-d6dd-4df2-a465-03460b26c690" SortOrder="1">about</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>