<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb95259d-377f-4a24-b8f9-d0065677d160" Alias="newsBinder" Level="2">
  <Info>
    <Name>News Binder</Name>
    <Icon>icon-newspaper-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of all the news</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>NewsBinder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1567ae8e-05f3-431e-b92a-edd2f509e6f0">NewsBinder</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9326da9a-e28a-4983-9e2c-2191198f3567" SortOrder="0">newsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>