<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="63b2c59e-4316-4c92-9c2d-8924aa062ecc" Alias="Contact Us">
  <Info>
    <Name>Contact Us</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Tack för din förfrågan! Vi återkommer så snart vi kan.</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>true</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <DataSource />
    <Folder></Folder>
    <SubmitLabel>Skicka</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": "",
        "sortOrder": 0,
        "id": "0614518c-1bfb-4b17-f52a-24f53e5d7881",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "Namn*",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fullName",
                "id": "a169cfca-4abe-4e4a-99a6-0f7f737f267a",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Vänligen fyll i ditt Namn",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8c9c4e2a-b999-41c1-b47d-de0e6cc46f7f",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Telefonnummer",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fyllIDittTelefonnummer",
                "id": "4beaaee6-7b02-4bd6-ba2d-f6bd5778c778",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "^[0-9]*$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "cf05ab7d-c1c1-42f3-af45-dc9cff911777",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "0376df9d-9367-4497-d5df-fad4ba1e91d4",
                      "operator": "Is",
                      "value": "telefon"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "tel",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "E-Post adress*",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fyllIDinEmailAdress",
                "id": "2be77dd8-737e-4669-a681-8bc2bf37ba86",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "^[a-zA-Z0-9_\\.\\+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-\\.]+$",
                "requiredErrorMessage": "Vänligen fyll i din e-postadress",
                "invalidErrorMessage": "Vänligen ange en giltig E-Post adress",
                "condition": {
                  "id": "887b0fc1-1008-4066-87bc-31ac8a81413f",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "0376df9d-9367-4497-d5df-fad4ba1e91d4",
                      "operator": "Is",
                      "value": "email"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "email",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Meddelande",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "meddelande",
                "id": "2a021255-ee90-4192-eda4-587c3250e335",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8e0a6c93-764f-4839-b8d6-74b99346a4a3",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "AutocompleteAttribute": "",
                  "NumberOfRows": "2",
                  "MaximumLength": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Jag är inte en robot",
                "tooltip": "",
                "placeholder": null,
                "cssClass": null,
                "alias": "jagAerInteEnRobot",
                "id": "bddc8a6c-3aac-4807-e4b6-8e5510b66e88",
                "fieldTypeId": "d5c0c390-ae9a-11de-a69e-666455d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Bekräfta att du inte är en robot.",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "d2c9fc4a-6173-4045-80c3-0c70054afa4d",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "a143d110-5a1d-4023-bd6a-1848aa3f512e",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>