<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="63b2c59e-4316-4c92-9c2d-8924aa062ecc" Alias="Contact Us">
  <Info>
    <Name>Contact Us</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit>Tack för din boknings förfrågan!</MessageOnSubmit>
    <GoToPageOnSubmit>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows />
    <DataSource />
    <Folder></Folder>
    <SubmitLabel>Skicka</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": "Information",
        "sortOrder": 0,
        "id": "0614518c-1bfb-4b17-f52a-24f53e5d7881",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "Namn",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fullName",
                "id": "a169cfca-4abe-4e4a-99a6-0f7f737f267a",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Du måste fylla i namn",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8c9c4e2a-b999-41c1-b47d-de0e6cc46f7f",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Företags Namn",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "companyName",
                "id": "96312547-423f-4139-e44c-3531252241de",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "0ade7c73-1a34-4d48-b079-0bd91c7b54b1",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Jag vill boka i",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "jagVillBokaI",
                "id": "191b02cd-b649-430a-a614-65e4f34de7fc",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Du måste fylla i vart du vill boka",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "4d9b0e74-0291-4cfb-a200-97ca4bfd2ae1",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "sverige",
                    "caption": "Sverige"
                  },
                  {
                    "value": "norge",
                    "caption": "Norge"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Vilket datum vill du boka?",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "vilketDatumVillDuBoka",
                "id": "1c11d86c-fadf-47a9-a74e-c53c2cbcc795",
                "fieldTypeId": "f8b4c3b8-af28-11de-9dd8-ef5956d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "89d81e38-9fb6-4ebe-8d33-5bee5946bb07",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "Placeholder": "",
                  "ShowLabel": "True"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Hur ska vi kontakta dig",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "howShouldWeContactYou",
                "id": "0376df9d-9367-4497-d5df-fad4ba1e91d4",
                "fieldTypeId": "903df9b0-a78c-11de-9fc1-db7a56d89593",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Du måste fylla i hur vi ska kontakta dig",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "00bbfa0e-1d49-480d-afd0-79cc1c1bb253",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "ShowLabel": "True"
                },
                "preValues": [
                  {
                    "value": "telefon",
                    "caption": "Telefon"
                  },
                  {
                    "value": "email",
                    "caption": "Email"
                  }
                ],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Fyll i ditt Telefonnummer",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fyllIDittTelefonnummer",
                "id": "4beaaee6-7b02-4bd6-ba2d-f6bd5778c778",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "^[0-9]*$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "cf05ab7d-c1c1-42f3-af45-dc9cff911777",
                  "enabled": true,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "0376df9d-9367-4497-d5df-fad4ba1e91d4",
                      "operator": "Is",
                      "value": "telefon"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "tel",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Fyll i din email adress",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "fyllIDinEmailAdress",
                "id": "2be77dd8-737e-4669-a681-8bc2bf37ba86",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "^[a-zA-Z0-9_\\.\\+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-\\.]+$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "887b0fc1-1008-4066-87bc-31ac8a81413f",
                  "enabled": true,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": [
                    {
                      "id": "00000000-0000-0000-0000-000000000000",
                      "field": "0376df9d-9367-4497-d5df-fad4ba1e91d4",
                      "operator": "Is",
                      "value": "email"
                    }
                  ]
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "email",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Meddelande",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "meddelande",
                "id": "2a021255-ee90-4192-eda4-587c3250e335",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8e0a6c93-764f-4839-b8d6-74b99346a4a3",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "AutocompleteAttribute": "",
                  "NumberOfRows": "2",
                  "MaximumLength": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      },
      {
        "caption": "DataConsent",
        "sortOrder": 0,
        "id": "15d82e54-fbfc-4e65-9a54-b3d4df685f71",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Samtycke för lagring av inskickade data.",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "5fef0739-ef33-4df5-824a-2277d02eb981",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Samtycke krävs för att lagra och behandla data i detta formulär.",
                "invalidErrorMessage": null,
                "condition": {
                  "id": "d2486148-2244-454f-be8c-fa389e91446f",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "AcceptCopy": "Ja, jag ger tillstånd att lagra och behandla mina data.",
                  "ShowLabel": "True"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "a143d110-5a1d-4023-bd6a-1848aa3f512e",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>