<?xml version="1.0" encoding="utf-8"?>
<Media Key="a395b533-22e8-4c45-a96b-cd357ecba8f7" Alias="background" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/background</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-08T08:17:50</CreateDate>
    <NodeName Default="background" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gw0jli5i/background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>