<?xml version="1.0" encoding="utf-8"?>
<Media Key="f69d9179-1d4b-4653-bc2f-4585c93c007f" Alias="jhformidling" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/jhformidling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T13:54:26</CreateDate>
    <NodeName Default="jhformidling" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p4ij13sl/jhformidling.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>