<?xml version="1.0" encoding="utf-8"?>
<Media Key="71200d3f-f80b-4c04-a5f8-55d056a78c9d" Alias="Matz-bladhs emblem" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MatzBladhsEmblem</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-27T13:30:36</CreateDate>
    <NodeName Default="Matz-bladhs emblem" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hegda2il/logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>