<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b0bf936-631d-4e82-a7cb-2113f7c2711b" Alias="profil-leif" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/profilLeif</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T13:47:48</CreateDate>
    <NodeName Default="profil-leif" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gd2bwcy3/profil-leif.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>