<?xml version="1.0" encoding="utf-8"?>
<Media Key="c69e0d07-3248-4d66-ab8c-290afc90c8f8" Alias="profil-tom" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/profilTom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-10T13:51:41</CreateDate>
    <NodeName Default="profil-tom" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aegj3rsi/profil-tom.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>