@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var aboutPage = Model.AncestorOrSelf<About>();
	var members = Model.Children<Person>();
}

<section id="AboutUs">
    <div class="topic">
        @Model.Name
    </div>
    <div class="content">
        @Model.Value("description")
    </div>
    <div class="topic">
        Medlemmar
    </div>
	<div class="members">
		@foreach(var person in members ?? new List<Person>())
		{
			string instruments = "";
			foreach (var instrument in person.Instruments ?? new List<string>())
			{
				instruments += instrument + ", ";
			}
			
			instruments = instruments.Substring(0, instruments.Length - 2);

			<div class="member">
				<div class="image"><a href="@person.Url()"><img src="@person?.Portrait?.Url()" /></a></div>
				<div class="topic">@person?.PersonName</div>
				<div class="col"><span class="topic">Instrument:</span> <span class="text">@instruments</span></div>
				<div class="readmore"><a href="@person?.Url()"><button class="button">Läs mer..</button></a></div>
			</div>
		}
	</div>
</section>
