@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var aboutPage = Model.AncestorOrSelf<About>();
	var members = Model.Children<Person>();
}

<div id="AboutUs">
	<div>
		@foreach(var person in members ?? new List<Person>())
		{
			string instruments = "";
			foreach (var instrument in person.Instruments ?? new List<string>())
			{
				instruments += " " + instrument;
			}
			<div>
				<span><a href="@person.Url()"><img src="@person?.Portrait?.Url()" alt="@person?.AltPortrait" /></a></span>
				<span>@person?.PersonName</span>
				<span>@instruments</span>
				<a href="@person?.Url()" class="button">Läs mer..</a>
			</div>
		}
	</div>
</div>
