@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var aboutPage = Model.AncestorOrSelf<About>();
	var members = Model.Children<Person>();
}

<section id="AboutUs">
	<div class="topic">
		<h1>@Model.Name</h1>
	</div>
	<div class="content">
		@Model.Value("description")
	</div>
	<div class="topic">
		<h1>Medlemmar</h1>
	</div>
	<div class="members">
		@foreach (var person in members ?? new List<Person>())
		{
			<div class="member">
				<div class="image">
					<div class="img" style="background-image: url('/media/empty-profile.png');background-position: center;">
						<img src="@person?.Portrait?.Url()" alt="@person?.AltPortrait" />
					</div>
				</div>
				<div class="subtopic">@person?.PersonName</div>
				<div class="readmore"><a href="@person?.Url()"><button class="button">Läs mer...</button></a></div>
			</div>
		}
	</div>
</section>
