@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@Html.RenderUmbracoFormDependencies()
@{
	Layout = "Master.cshtml";
}
<div class="ContactUs">
    <h1>@Model.Title</h1>
    <h2>@Model.SubTitle</h2>
    <div class="contact-form">
        @Html.Raw(Model.ContactForm) <!-- Använd Raw för att inte escapea HTML -->
    </div>
</div>