@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Forms.Web
@Html.RenderUmbracoFormDependencies()
@{
	Layout = "Master.cshtml";
}

<section id="ContactUs">
    <div class="topic">
        @Model.Name()
    </div>
    <div class="subTopic">
        @Model.SubTitle
    </div>
    <div class="form">
        @Html.Raw(Model.ContactForm)
    </div>
</section>
