@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ErrorPage404>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Fel - Sidan är inte tillgänglig</title>
</head>
<body>
    <main>
        <div class="error-container">
            <h1 class="error-title">Oops! 🤬</h1>
            <p class="error-message">Fel uppstod. Vi beklagar för besväret. Vänligen försök igen senare.</p>
            <a href="/" class="error-link">Gå till startsidan</a>
        </div>
    </main>
</body>
</html>
