@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GigInfo>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
    var address = Uri.EscapeDataString(Model.Address);
}

<div class="Gig">
    <div>
        <iframe title="Google maps over location @Model.Address" width="600" height="450" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=@ApiKey.Key&q=@address"></iframe>
    </div>
    <div class="description">
        @Model.Description
    </div>
</div>