@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GigInfo>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
    var address = Uri.EscapeDataString(Model.Address);
}

<section id="Gig">
    <div class="topic">
        @Model.AncestorOrSelf(2).Name
    </div>
    <div class="gig">
        <div class="center">
            <div class="map">
                <iframe title="Google maps over location @Model.Address" width="600" height="450" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=@ApiKey.Key&q=@address"></iframe>
            </div>
            <div class="information">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="readmore">
        <button class="button" onclick="history.back()">&#8592; tillbaka</button>
    </div>
</section>