@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Gigs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
	var selection = Umbraco.Content(Guid.Parse("1e74e3be-51d6-4f3d-a016-990eeb9dc2a6"))
    .ChildrenOfType("gigInfo")
    .Where(x => x.IsVisible());
}

<div>

    <h1>@Model.Name</h1>
    
    <ul>
    	@foreach (var item in selection)
    	{
    		<li>
    			<a href="@item.Url()">@item.Name()</a>
    		</li>
    	}
    </ul>

</div>