@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var menyChildren = Model.Children();
}

<div>
	<h1>
		Home!
	</h1>
	<ul>
		@foreach (var child in menyChildren)
		{
			<li><a href="${@child.Url()}">@child.Name</a></li>
		}
	</ul>
</div>