@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div id="NewsItem">
    <h1>@Model.Value("newsTitle")</h1>
    <p>@Model.Value("newsContent")</p>
</div>
