@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section id="NewsItem">
    <div class="topic">
        @Model.Value("newsTitle")
    </div>
    <div class="item">
        <div class="date">date @Model.Value("createDate")</div>
        <div class="text">@Model.Value("newsContent")</div>
    </div>
</section>

<section id="back">
    <div>
        <button class="button" onclick="history.back()">&#8592; tillbaka</button>
    </div>
</section>
