<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="4085b9ea-0000-0000-0000-000000000000" Alias="bookingAgent">
  <Info>
    <Sections>content</Sections>
    <Icon>icon-users</Icon>
    <Name>Booking agent</Name>
    <StartContentId>1e74e3be-51d6-4f3d-a016-990eeb9dc2a6</StartContentId>
    <StartMediaId>fffffff6-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[F,ï,D,C,N,U,R,H,Z,A]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>