<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="551ffd7b-0000-0000-0000-000000000000" Alias="memberProfile">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-users</Icon>
    <Name>Member Profile</Name>
    <StartContentId>dc1a8da4-673b-45c9-88a8-bdb752e149be</StartContentId>
    <StartMediaId>fffffff6-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>