<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="c0382064-0000-0000-0000-000000000000" Alias="nyhetsgrejjs">
  <Info>
    <Sections>content,media</Sections>
    <Icon>icon-users</Icon>
    <Name>News admin</Name>
    <StartContentId>705b6e51-061f-47d1-a345-40e5d8d5b79f</StartContentId>
    <StartMediaId>fffffff6-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[F,ï,D,C,N,U,R,H,Z,A]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>