<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="c2fad340-0000-0000-0000-000000000000" Alias="pageOwner">
  <Info>
    <Sections>content,media,member</Sections>
    <Icon>icon-application-window-alt color-black</Icon>
    <Name>Page Owner</Name>
    <StartContentId>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</StartContentId>
    <StartMediaId>fffffff6-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[K,F,ï,D,C,N,U,R,H,Z,A,O,M,S]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>