<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="a-j@b.c">
  <Info>
    <Comments />
    <Name>Jan Husebæk</Name>
    <Username>a-j@b.c</Username>
    <Email>a-j@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEJ6WqH19/0RsiLN12b3wkjyEtZdpoMHH1yktFFxzKi2eoVSmkGqCCRaGwob0S2Yz9Q==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>bookingAgent</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>1e74e3be-51d6-4f3d-a016-990eeb9dc2a6</Node>
    <Node>57d29d38-05ea-45b6-9e88-9347115f3ba2</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>