<?xml version="1.0" encoding="utf-8"?>
<User Key="00000004-0000-0000-0000-000000000000" Alias="a-m@b.c">
  <Info>
    <Comments />
    <Name>Mats Tigerström</Name>
    <Username>a-m@b.c</Username>
    <Email>a-m@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEAFV9wR9wWhRDgCXyBRhcHhQKcKpwHLtkpE+OuIRLHkDVk8xBqmNRUTC/H4V1inwVw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>bookingAgent</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>1e74e3be-51d6-4f3d-a016-990eeb9dc2a6</Node>
    <Node>ce35213a-fdd6-4ee1-9657-02245b02ff5e</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>