<?xml version="1.0" encoding="utf-8"?>
<User Key="00000003-0000-0000-0000-000000000000" Alias="jan@b.c">
  <Info>
    <Comments />
    <Name>Jan Husebæk</Name>
    <Username>jan@b.c</Username>
    <Email>jan@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEJ6WqH19/0RsiLN12b3wkjyEtZdpoMHH1yktFFxzKi2eoVSmkGqCCRaGwob0S2Yz9Q==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>bookingAgent</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>