<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="l@b.c">
  <Info>
    <Comments />
    <Name>Lars-Olof Karlsson</Name>
    <Username>l@b.c</Username>
    <Email>l@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEOqBtXReCf6qODUM+U6w6gV6UzB9mFJuDY29Id3SSuADPcHVsgOTV8riB+bH1MZTVg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>memberProfile</Alias>
    </Group>
    <Group>
      <Alias>nyhetsgrejjs</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</Node>
    <Node>83d7e3b7-594a-465a-b2d8-bd1e790881d6</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>