<?xml version="1.0" encoding="utf-8"?>
<User Key="00000005-0000-0000-0000-000000000000" Alias="lasse@b.c">
  <Info>
    <Comments />
    <Name>Lasse Bladh</Name>
    <Username>lasse@b.c</Username>
    <Email>lasse@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEOqBtXReCf6qODUM+U6w6gV6UzB9mFJuDY29Id3SSuADPcHVsgOTV8riB+bH1MZTVg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>nyhetsgrejjs</Alias>
    </Group>
    <Group>
      <Alias>memberProfile</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</Node>
    <Node>2586dc45-5ba8-4d4c-942c-b1cb20333bb7</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>