<?xml version="1.0" encoding="utf-8"?>
<User Key="00000004-0000-0000-0000-000000000000" Alias="matss@b.c">
  <Info>
    <Comments />
    <Name>Mats Tigerström</Name>
    <Username>matss@b.c</Username>
    <Email>matss@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEAFV9wR9wWhRDgCXyBRhcHhQKcKpwHLtkpE+OuIRLHkDVk8xBqmNRUTC/H4V1inwVw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>bookingAgent</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>