<?xml version="1.0" encoding="utf-8"?>
<User Key="00000006-0000-0000-0000-000000000000" Alias="t@b.c">
  <Info>
    <Comments />
    <Name>Tom Käldström</Name>
    <Username>t@b.c</Username>
    <Email>t@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEOH4gwtPQ2YB92HZiTI97Drv4BpWmVfmvwRqq4pbFuhHrQvMWm2xoyKaKUER77+4Cw==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>memberProfile</Alias>
    </Group>
    <Group>
      <Alias>nyhetsgrejjs</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>7f2713f4-491f-4665-8e51-dc57b7414c42</Node>
    <Node>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>