<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="test@b.c">
  <Info>
    <Comments />
    <Name>Pelle Bladh</Name>
    <Username>test@b.c</Username>
    <Email>test@b.c</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAECiYhc/lk8alMR8cV5JOSq1G3L6q8JTt07tk/jK82Fr0zVYeT81JOPECIhG1Z9mXpQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>nyhetsgrejjs</Alias>
    </Group>
    <Group>
      <Alias>memberProfile</Alias>
    </Group>
  </Groups>
  <StartContentNodes>
    <Node>9f698f8f-efb2-4b7d-88d9-c1b55c0ad588</Node>
    <Node>acecf8bb-0a7d-468d-bf9d-60111eb42c31</Node>
  </StartContentNodes>
  <StartMediaNodes />
</User>