@import "_vars";

section#AboutMe {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  div.content {
    background-color: @backgroundColorEven;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    justify-content: center;

    div.center {
      width: 50%;
      display: flex;
      gap: 1rem;

      div {
        flex: 50%;
      }

      div.image {
        text-align: right;
      }
    }
  }

  div.readmore {
    background-color: @backgroundColorEven;
    padding: 0.75rem;
    border-radius: 0.5rem;

    button {
      .button-style();
    }
    button:hover {
      background-color: @buttonBgHover;
    }
  }
}
