@import "_vars";

section#AboutMe {
  display: flex;
  flex-direction: column;

  div.content {
    .content-style();

    margin-bottom: 0.25rem;

    display: flex;
    justify-content: center;

    div.center {
      width: 50%;
      display: flex;
      gap: 1rem;

      div {
        flex: 50%;
      }

      div.image {
        text-align: right;
      }
    }
  }

  div.readmore {
    .content-style();

    button {
      .button-style();
    }
    button:hover {
      background-color: @backgroundButtonHover;
    }
  }
}
