@import "_vars";

section#Gigs {
  div.content {
    .content-style();

    div.calendar {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
      gap: 0.5rem;

      div.wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.25rem;

        div.date {
          .content-style(@backgroundDate);

          display: grid;
          font-size: 2rem;
          text-align: center;
          align-items: end;
        }
        span.month {
          font-size: 1rem;
        }

        div.gig {
          .content-style(@backgroundContent);

          li {
            display: grid;
            grid-template-columns: 1fr;

            span.link {
              font-size: 1.2rem;
              text-transform: capitalize;
            }
            span.city {
              color: @contentDateText;
              margin-bottom: 0.5rem;
              text-transform: capitalize;
            }
          }
        }
      }

      div.wrapper:hover {
        div.date {
          background-color: @backgroundDateHover;
        }
      }
    }
  }
}
