@import "_vars";

section#Gig {
  display: flex;
  flex-direction: column;

  div.gig {
    .content-style();

    margin-bottom: 0.25rem;

    display: flex;
    justify-content: center;

    div.center {
      width: 50%;
      display: flex;
      gap: 1rem;

      div {
        flex: 50%;
      }

      div.map {
        text-align: right;
      }
      div.information {
        div.subtopic {
          font-size: 1.2rem;
        }
        div.date {
          font-size: 0.75rem;
          color: #ccc;
        }
        div.text {
          font-size: 1rem;
        }
      }
    }
  }

  div.readmore {
    .content-style();

    button {
      .button-style();
    }
    button:hover {
      background-color: @backgroundButtonHover;
    }
  }
}
