@import "_vars";

section#NewsItem {
  display: flex;
  flex-direction: column;

  div.item {
    .content-style();
    margin-bottom: 0.25rem;

    padding: 2rem 0;

    div.subtopic {
      font-size: 2rem;
      padding-left: 25%;
      padding-right: 25%;

      p:not(:last-child) {
        padding-bottom: 1rem;
      }

      @media (max-width: 991px) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
    div.date {
      font-size: 0.75rem;
      color: #ccc;
      padding: 0.5rem 0;

      padding-left: 25%;
      padding-right: 25%;

      p:not(:last-child) {
        padding-bottom: 1rem;
      }

      @media (max-width: 991px) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
    div.text {
      font-size: 1.2rem;
      padding-left: 25%;
      padding-right: 25%;

      p:not(:last-child) {
        padding-bottom: 1rem;
      }

      @media (max-width: 991px) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }

  div.readmore {
    .content-style();

    border-radius: 0.5rem;
    margin-top: 1rem;

    button {
      .button-style();
    }
    button:hover {
      background-color: @backgroundButtonHover;
    }
  }
}
