@import "_vars";

section#StartpageGigs {
  div.gig {
    .content-style();
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;

    @media (max-width: 280px) {
      grid-template-columns: 1fr;
    }

    span.day {
      background-color: @backgroundHighlight;

      padding: 0.4rem 1rem;
      border-radius: 0.4rem;
      margin-right: 1rem;
      text-align: center;
      text-transform: capitalize;

      @media (max-width: 280px) {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
    div.info {
      display: grid;
      grid-template-columns: 1fr;

      span.link {
        font-size: 2rem;
        text-transform: capitalize;
      }
      span.city {
        font-size: 0.9rem;
        text-transform: capitalize;
      }
    }
  }
  div.gig:hover {
    span.day {
      background-color: @backgroundHighlightHover;
    }
  }
}

section#StartpageNews {
  div.items {
    .content-style();
    display: grid;
    gap: 0.8rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    grid-auto-rows: auto auto auto;
    container-type: inline-size;

    div.news {
      .content-style(@backgroundGridTwo);

      display: grid;
      gap: 0.2rem;
      grid-row: span 4;
      grid-template-rows: subgrid;

      div.subtopic {
        font-size: 1.2rem;
      }
      div.date {
        font-size: 0.8rem;
        padding: 0.3rem 0;
        color: @contentDateText;
      }
      div.text {
        font-size: 1rem;
        margin-bottom: 1rem;

        p {
          img {
            display: none;
          }
        }
      }
      div.readmore {
        text-align: right;

        button {
          .button-style();
        }
        button:hover {
          background-color: @backgroundButtonHover;
        }
      }
    }

    div.news:nth-child(even) {
      background-color: @backgroundGridOne;
    }
  }
}
