@backgroundColor: rgba(28, 78, 153, 0.75);
@backgroundColorEven: rgba(28, 78, 153, 0.5);
@textColor: #fff1f8;
@linkHover: #b8b1b0;
@contentBg: rgba(49, 49, 49, 0.75);
@menuActive: #e0bf51;
@buttonBg: #3498db;
@buttonBgHover: #2a7cb3;

.button-style(@bgcolor: @buttonBg) {
  background-color: @bgcolor;
  color: @textColor;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
