* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  font-size: 16px;
  background-color: #000000;
  background-image: linear-gradient(180deg, #1c4e99 0%, rgba(0, 0, 0, 0.75) 80%);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff1f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
header,
main,
nav,
footer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
}
a {
  color: #fff1f8;
  text-decoration: none;
}
a:hover {
  color: #b8b1b0;
  text-decoration: underline;
}
nav {
  border-bottom: 2px solid #fff;
}
nav div#Nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2rem;
  font-size: 1.3rem;
  text-shadow: 1px 1px #000;
  font-weight: 400;
  text-transform: uppercase;
  font-family: monospace;
  justify-content: space-between;
}
nav div#Nav a {
  text-decoration: none;
}
nav div#Nav a img {
  width: 25rem;
}
nav div#Nav a:hover {
  text-decoration: underline;
}
nav div#Nav a.active {
  color: #bea246;
  font-weight: bold;
}
nav div#Nav div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
main {
  background-color: rgba(52, 45, 84, 0.45);
}
main div#Main {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main div#Main div.Gigs {
  width: 50%;
}
main div#Main div.News {
  width: 50%;
}
main div#Main div.News strong {
  font-size: 2rem;
}
main div#Main div.News div.newsItems {
  margin-top: 1rem;
}
main div#Main div.News div.newsItems div.newsItem span.topic {
  font-size: 1.5rem;
}
main div#Main div.News div.newsItems div.newsItem button {
  background-color: #3498db;
  color: #fff1f8;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 0.2rem;
  margin: 0.5rem 0 1rem 0;
}
main div#Main div.News div.newsItems div.newsItem button:hover.button {
  background-color: #2c85c0dc;
  color: #fff1f8;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 0.2rem;
}
main div#News div.topic {
  font-size: 1.75rem;
}
main div#News div.newsList div.newsListings {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 180px), 1fr));
}
main div#News div.newsList div.newsListings div.newsItem div h3 {
  font-size: 1.5rem;
}
main div#News div.newsList div.newsListings div.newsItem div span {
  font-size: 0.75rem;
  color: #ccc;
}
main div#News div.newsList div.newsListings div.newsItem div button {
  background-color: #3498db;
  color: #fff1f8;
  padding: 0.75rem 1.75rem;
  border: none;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}
main div#News div.newsList div.newsListings div.newsItem div button:hover {
  background-color: #3498dbdc;
  color: #fff1f8;
  padding: 0.75rem 1.75rem;
  border: none;
  cursor: pointer;
}
main div#NewsItem h1 {
  font-size: 2rem;
}
footer div#Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer div#Footer div.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer div#Footer div.contacts div.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer div#Footer div.contacts div.socials a div {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.9rem 1rem 0.7rem 1rem;
}
footer div#Footer div.contacts div.socials a div svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #000;
  aspect-ratio: 4/3;
}
footer div#Footer div.contacts div.socials a:hover div svg {
  fill: #666;
}
footer div#Footer div.contacts div.contact {
  justify-content: center;
  align-items: center;
}
footer div#Footer div.copyright {
  text-align: center;
  font-size: 0.7rem;
}
