@import "_vars";

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px #000;
}

body {
  font-family: "Roboto";
  background-color: @backgroundBase;
  background-image: linear-gradient(180deg, @backgroundGradientOne 30%, @backgroundGradientTwo 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: @textColor;

  min-height: 100vh;
}

div#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  min-height: 100vh;

  padding: 2rem;

  backdrop-filter: blur(7px);

  @media (max-width: 991px) {
    padding: 0.2rem;
  }
}

header,
nav,
footer {
  width: 100%;
  max-width: 80rem;
}

nav {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  section {
    display: grid;
    gap: 0rem;
    width: 100%;
    max-width: 80rem;
    margin-bottom: 1rem;

    div.topic {
      background-color: @backgroundTopic;
      padding: 0.75rem;
      border-radius: 0.5rem 0.5rem 0 0;
      box-shadow: 0px 5px 10px #00000050;

      font-size: 1.4rem;
      text-shadow: 1px 1px #000;
      z-index: 2;
      overflow: hidden;
    }
  }
}

footer {
  margin-top: auto;
}

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover {
  color: @linkColorHover;
  text-decoration: underline;
}

nav {
  @import "_nav";
}

main {
  @import "_startpage";

  @import "_newsBinder";

  @import "_newsItem";

  @import "_aboutUs";

  @import "_aboutMe";

  @import "_contactUs";

  @import "_gig";

  @import "_back";

  @import "_calender";
}

footer {
  @import "_footer";
}
